@import 'tailwindcss';
@import './utility.css';
@import './fonts.css';

@theme inline {
  --font-sans: 'Roobert', sans-serif;
  --color-background: #f9f9f9;
  --color-surface: #ffffff;
  --color-border: #e6e6e6;
  --color-border: #e6e6e6;
  --color-border-strong: #bfbfbf;
  --color-foreground: #222222;
  --color-muted: #81817e;
  --color-primary: #0d0d0d;
  --color-primary-faded: #1a1a1a;
  --color-accent: #6950f3;
  --color-accent-faded: #dfe1ff;
  --color-success: #1f8900;
  --color-destructive: #ea4a5a;
}

@layer base {
  *,
  ::before,
  ::after {
    @apply border-border;
  }

  body {
    @apply font-sans bg-white antialiased text-foreground;
  }

  button {
    cursor: pointer;
  }
}
