@utility container {
  width: 100%;
  margin-inline: auto;
  max-width: 1200px;
  padding-inline: 16px;
}

@utility container-sm {
  @apply container;
  max-width: 800px;
}

@utility container-xl {
  @apply container;
  max-width: 1440px;
}

@utility flip-x {
  transform: scaleX(-1);
}

@utility flip-y {
  transform: scaleY(-1);
}
